Homestead.yaml
Homestead.json

.env
.env.testing

_ide_helper.php

.idea
auth.json
composer.phar
npm-debug.log

/vendor
/node_modules

www/vendor/kms
www/img/
www/uploads/*
www/zips
www/js/*
www/css/*
www/mix-manifest.json

*.DS_Store
kms_documentation
/kms_documentation
/resources/lang/**/shop
/storage/
/.phpunit.result.cache
