h1 {
	font-size: 4.8rem;
	line-height: 1;
}

h2 {
	font-size: 3.2rem;
	line-height: 1.25;
	font-weight: var(--fw-regular);;
}

h3 {
	font-size: 2.4rem;
	line-height: 1.3333;
	font-weight: var(--fw-medium);;
}

h4 {
	font-size: 2rem;
	line-height: 1.6;
	font-weight: var(--fw-medium);;
}

h5, h6 {
	font-size: var(--g-fs);
	line-height: var(--g-default-lh);
	font-weight: var(--fw-bold);
}

:where(h1, h2, h3, h4, h5, h6) {
	color: var(--color-neutral-800);
}