<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Allow LetsEncrypt" patternSyntax="Wildcard" stopProcessing="true">
                    <match url=".well-known/acme-challenge/*" />
                    <action type="None" />
                </rule>
                <!--<rule name="Redirect everything to" patternSyntax="Wildcard" stopProcessing="true">-->
                    <!--<match url="*" />-->
                    <!--<conditions logicalGrouping="MatchAny">-->
                        <!--<add input="{HTTP_HOST}" pattern="komma.nl" negate="true" />-->
                        <!--<add input="{HTTPS}" pattern="off" ignoreCase="true" />-->
                    <!--</conditions>-->
                    <!--<action type="Redirect" url="https://komma.nl/{R:0}" />-->
                <!--</rule>-->
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
                </rule>
                    <rule name="Imported Rule 2" stopProcessing="true">
                        <match url="^" ignoreCase="false" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/index.php/404" responseMode="ExecuteURL" />
        </httpErrors>

    <handlers>
        <!--<remove name="php-7.4" />  = active PHP version -->
        <remove name="php-7.2" />
        <remove name="php-7.1" />
        <remove name="php-5.6" />
        <remove name="php80" />
    </handlers>
    </system.webServer>
</configuration>