.o-cookie-bar {
	--bg-color:		hsl(var(--color-neutral-1000-hsl), 0.7);
	--color:		var(--color-neutral-0);

	z-index: -1; // not selectable
	display: none; // hide by default
	position: fixed;
	bottom: 0;
	left: 0;
	height: var(--g-cookie-bar-height);
	width: 100%;
	background-color: var(--bg-color);
	opacity: 1;
	box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6px);
	transition: opacity 0.5s, transform 0.6s;
	transform: none;

	// When cookies are not yet accepted, show cookiebar
	&:not(.is-accepted) {
		@include z(z-cookie);
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&.is-transitioning-out {
		z-index: -1; // not selectable
		opacity: 0;
		transform: translateY(50%);
	}
}

.o-cookie-bar__main {
	display: flex;
	justify-content: center;
	align-items: center;

	@include mq($max: 374) {
		transform: scale(0.9);
	}
}

.o-cookie-bar__text {
	margin: 0;
	color: var(--color);

	@include mq($max: 375) {
		font-size: 1.4rem;
		line-height: 1.14285714;
	}
}

.o-cookie-bar__link {
	color: inherit;
	transition: all 150ms;

	&:hover {
		opacity: .75;
	}
}

.o-cookie-bar__button {
	flex: none;
	margin-left: var(--space-5);

	@include mq($max: m) {
		margin-left: var(--space-2);
	}
}